<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>90042940959-gqqu7f759lu911c9ql57is8mgeetidno.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.90042940959-gqqu7f759lu911c9ql57is8mgeetidno</string>
	<key>API_KEY</key>
	<string>AIzaSyBSs12mgpnPQHj7ju0rT0mdAQoe4LG3dyE</string>
	<key>GCM_SENDER_ID</key>
	<string>90042940959</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.laughster.frankspadone</string>
	<key>PROJECT_ID</key>
	<string>laughster-frank-spadone</string>
	<key>STORAGE_BUCKET</key>
	<string>laughster-frank-spadone.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:90042940959:ios:c6ab50aafa647354321f2a</string>
	<key>DATABASE_URL</key>
	<string>https://laughster-frank-spadone.firebaseio.com</string>
</dict>
</plist>