<template>
    <!-- Initial Page, "data-name" contains page name -->
    <div data-name="login" class="page bg-color-white">
        <!-- Scrollable page content -->
        <div class="page-content">
            <div id="wrapWelcomeComedianIntro" class="wrapWelcomeComedianIntro text-align-center {{classFullHeight}} overflow">
                <div class="abs bottom0 fullwidth text-align-center forcedZIndexHigher wrap-portrait-visible">
                    <img class="text-align-center {{hiddenClassSignature1}}" src="./images/Swipe_Down.png" alt="" />
                    <div class="padd15"></div>
                </div>
                <div class="abs top0 left0 fullwidth fullheight signature-bg forcedZIndexHigher {{hiddenClassSignature1}}" data-target="ifappuserdetected" style="background-image: url('{{signatureThumbnailAPP}}');"></div>
                <div class="mAOLThumb abs top0 left0 fullwidth fullheight unveil forcedZIndexLower overflow">
                    <div class="blurred-outer inheritheight">
                        <div class="forcedZIndexHigher abs top0 left0 fullwidth fullheight" style="background-color: rgba({{classOverlayColor}}, 0.6);"></div>
                        <div class="bg-image blurred fullwidth fullheight abs top0 left0 forcedZIndexLower" style="background-image: url('{{iconthumbnailAPP}}');" />

                        </div>
                    </div>
                </div>
                
                <div id="initialLoginForm" class="wrap-content-over forcedZIndexHigher">
                    <div class="padd20"></div>
                    <div class="inline-block lineheight140 paddTopBottom20">
                        <div class="padd30"></div>
                        <div class="fixed-width-150">
                            <div id="appImgOnLogin" class="fullpadding nice-circle animated fadeInDownBig bg-color-black circled overflow">
                                <div class="circled bg-image abs top50 left50 bg-color-black overflow" style="background-image: url('{{iconthumbnailAPP}}');"></div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- tabs here -->
                    <div>
                        <form action="#" id="frmRegisterAPPUserFE" method="post" data-action="handlewithform">
                            <div class="hidden">
                                <input type="hidden" name="context" value="registerAPPUserFEStep1" />
                                <input type="hidden" name="aEOE_comedianuserid" value="{{id}}" />
                            </div>
                            <div class="tabs-animated-wrap">
                                <div class="tabs tabs-routable forcedZIndexHigher">
                                    <div id="welcome-tab-1" class="page-content tab">

                                    </div>
                                    <div id="welcome-tab-2" class="page-content tab">

                                    </div>
                                    <div id="welcome-tab-3" class="page-content tab">
                                        
                                    </div>
                                    <div id="welcome-tab-4" class="page-content tab">
                                        
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="padd20"></div>
                </div>
            </div>
            
            <div class="hidden">
                <a href="/" class="tab-link" data-route-tab-id="welcome-tab-1">Tab 1</a>
                <a href="/welcome-tab-2/" class="tab-link" data-route-tab-id="welcome-tab-2">Tab 2</a>
                <a href="/welcome-tab-3/" class="tab-link" data-route-tab-id="welcome-tab-3">Tab 3</a>
                <a href="/welcome-tab-4/" class="tab-link" data-route-tab-id="welcome-tab-4">Tab 4</a>
            </div>
        </div>
    </div>
</template>
<script>
  return {
    data() {
        return {
            classFullHeight: "fullheight",
            hiddenClassSignature1: "hidden",
            classOverlayColor: "35,24,82"
        }
    }, 
    on: {
      pageBeforeIn: function () {
        // do something on page init
        var self = this;
        loadHomeBasicComedian(self, appID);
    }
        
    }
  }
</script>