<template>
    <!-- Initial Page, "data-name" contains page name -->
    <div data-name="podcasts" class="page visible-navbar">
        <div class="wrapFirstTimeNotifications {{classFirstTimeActivated}}">
            <div class="text-align-center text-tiny animated fadeIn singleItem" data-target="first-time" data-etype="4" style="background-color: rgba({{classOverlayColor}}, 0.95);">
                <div class="text-color-white size-22">Swipe left to share<br />a PodCast Episode.</div>
                <div class="padd10"></div>
                <div>
                    <div class="inline-block">
                        <a href="#" class="button button-fill round50 size-16 paddLeftRight40 paddTopBottom10" @click="firstTimeNotificationGot" data-etype="4" style="background-color: rgb({{classButtonColor}});">GOT IT</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Top Navbar -->
        <div class="navbar">
            <div class="inheritheight" data-target="nav-inner" data-target-class="default">
                <div class="abs top0 left0 fullwidth fullheight overflow forcedZIndexLower">
                    <div class="inheritheight bg-color-white-opacity8"></div>
                </div>
                <div class="navbar-inner paddLeftRight20 forcedZIndexHigher">
                    <div id="appid" style="color: rgb({{classOverlayColor}});">
                        <div class="inline-block size-26 strong" data-target="nav-title">PodCasts</div>
                    </div>
                    <div class="right text-color-white">
                        <div class="inline-block fixed-width-50">
                            <a class="link back relative">
                                <div class="circled bg-image fullpadding fullwidth" style="background-image: url('{{iconthumbnailAPP}}');"></div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Scrollable page content -->
        <div class="page-content">
            <div id="wrapPodcast" class="wrapWelcomeComedianIntro text-align-center">
                <div class="hidden"><a data-target="click-to-track" href="#" data-action="trackclicks" data-context="trackMainSection" data-etype="4"></a></div>
                {{#if results}}
                    <div class="padd20">
                        <div class="swiper-container swiper-init">
                            <div class="swiper-wrapper">
                            {{#each results}}
                                <div class="swiper-slide singleItem inline-block animated fixed-width-90 marginLeftRight5">
                                    <div class="image-holder round10 overflow">
                                        {{#js_if "this.isonitunes == 2"}}
                                            <a href="{{url}}" data-id="{{id}}" class="abs top0 left0 fullwidth fullheight forcedZIndexHigher link darken-current overflow round10 external" target="_system"></a>
                                        {{else}}
                                            <a href="#" @click="loadPodcastEpisodes" data-id="{{id}}" class="abs top0 left0 fullwidth fullheight forcedZIndexHigher link darken-current overflow round10"></a>
                                        {{/js_if}}
                                        <div class="bg-image fullpadding forcedZIndexLower" style="background-image: url('{{imgAPP}}');"></div>
                                    </div>
                                </div>
                            {{/each}}
                            </div>
                        </div>
                        <div class="padd10"></div>
                    </div>
                <div id="wrapPodcasts" class="padd20 bg-color-lightgray1 text-align-left overflow fullheight">
                    
                    <div>
                        {{#if ../results1}}
                        <div class="text-color-gray size-16">Recent Episodes</div>
                        {{#if ../results1.results}}
                        <div class="list">
                            <div class="padd10"></div>
                            <ul>
                            {{#each ../results1.results}}
                                <li class="swipeout sortableRow singleItem animated margin-bottom-20 round5 overflow" data-sorting="{{sorting}}" data-id="{{id}}">
                                    <div class="">
                                        <div class="swipeout-content bg-color-white padd15 d-flex align-items-center" rel="sortItem">
                                            <a href="/podcastdetails/" class="link abs top0 left0 fullwidth fullheight forcedZIndexHigher" data-id="{{../results1.id}}" data-context='{{stringify this}}'></a>
                                            <div class="text-holder paddRight20 flex1">
                                                <div class="size-16 lineheight120 strong" style="color: rgb({{../classOverlayColor}});">{{title}}</div>
                                            </div>
                                            <div class="fixed-width-40">
                                                <div class="bg-play-button circled animated zoomIn" style="background: rgb({{../classButtonColor}});"><div class="wrap-triangle abs top50"></div></div>
                                            </div>
                                        </div>
                                        <div class="swipeout-actions-right fixed-width-200 justify-content-center">
                                            <!-- Swipeout actions links/buttons -->
                                            <div>
                                                <a href="https://www.facebook.com/sharer/sharer.php?u={{urltoshare}}" target="_system" class="text-color-facebook size-20 external">
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fab fa-facebook-f fa-stack-1x text-color-white"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="https://twitter.com/intent/tweet/?text=Listen to {{titletoshare}} on {{../userinfo.firstname}} {{../userinfo.lastname}}'s podcast!&url={{urltoshare}}" target="_system" class="text-color-twitter size-20 external">
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fab fa-twitter fa-stack-1x text-color-white"></i>
                                                    </span>
                                                </a>
                                            </div>
                                            <div>
                                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{urltoshare}}&title=Listen to {{titletoshare}} on {{../userinfo.firstname}} {{../userinfo.lastname}}'s podcast!&summary=&source=" target="_system" class="text-color-linkedin size-20 external">
                                                    <span class="fa-stack">
                                                        <i class="fas fa-circle fa-stack-2x"></i>
                                                        <i class="fab fa-linkedin-in fa-stack-1x text-color-white"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                </li>
                            {{/each}}
                            </ul>
                        </div>
                        {{/if}}
                        <div class="paddLeftRight20 animated text-align-center" data-target="load-more-btn"><div class="padd10"></div>
                        <div class="inline-block">
                            <a href="#" class="button button-fill round50" @click="loadMore" data-count="{{../results1.count}}" data-id="{{../results1.id}}" data-counttotal="{{../results1.counttotal}}" style="background-color: rgb({{classButtonColor}});"><div class="paddTopBottom10 paddLeftRight30 size-16">Load more</div></a>
                        </div>
                            
                    </div>
                        {{else}}
                        <div class="padd20"></div>
                        <div class="text-align-center size-18 text-color-darkblue text-tiny animated fadeInUp">To start laughing please
    select a podcast above.</div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>
<script>
  return {
    on: {
      pageInit: function () {
        var self = this;
        if(localStorage.getItem("userAPPInfo")!==null){
            var simpleComedian=JSON.parse(localStorage.getItem("userAPPInfo"));
            if(typeof(simpleComedian)=="object"){
                self.$setState({
                    iconthumbnailAPP: simpleComedian.iconthumbnailAPP,
                    userinfo: simpleComedian,
                    classOverlayColor: simpleComedian.classOverlayColor,
                    classButtonColor: simpleComedian.classButtonColor
                });
            }
        }
        loadComedianData(self, "loadComedianPodcast", this.count);
      },
      pageBeforeIn: function () {
          var self = this;
          checkForFirstTime(4, self);
          $$("#wrapPodcast a[data-target='click-to-track']").trigger("click");
      },
      pageAfterIn: function () {
          
      },
      pageBeforeOut: function () {
          
      },
    },
    methods: {
        loadMore: function() {
          // ...
          var self=this;
          loadComedianData(self, "loadPodcastEpisodes", this.results1.count, this.results1.id);
        },
        firstTimeNotificationGot: function(e) {
            var self = this;
            var object=$$(e.target);
            var etype=object.attr("data-etype");
            firstTimeNotificationGot(etype, self);
        },
        loadPodcastEpisodes: function(e) {
          // ...
          var self=this;
          var object=$$(e.target);
          var id=object.attr("data-id");
          object.closest(".swiper-container").find("a.darken-current").removeClass("current");
          object.addClass("current");
          
          loadComedianData(self, "loadPodcastEpisodes", 0, id, "hideAllCurrentPodcastItems");
        }
      }
    
  }
</script>
