<template>
   <div class="block text-center overflow">
       <div class="padd10"></div>
        <div class="animated {{classAnimation}} {{classInitHidden}}">
            <div class="text-center bodytext br-nomobile text-color-white size-16 lineheight120 fixed-width-250 margin-auto">
            Welcome to the {{firstname}} {{lastname}} APP ....my APP! Let me know who you are and where you’re from, this will help me personalize your experience and keep you informed about upcoming events, breaking news and more!
            </div>
            <div class="padd10"></div>
            <div class="fixed-width-240 margin-auto">
                <div class="form-with-field-white">
                    <div class="fRow"><input name="aEOE_name" type="text" class="mf-input mf-required" placeholder="Full Name" required="required" data-validity-title="Please Provide your First and Last Name." autocomplete="off" pattern="^[a-zA-zČčĆćŽžĐđŠš]+\\s[a-zA-zzČčĆćŽžĐđŠš](+\\s)?+(\\s[a-zA-zzČčĆćŽžĐđŠš]+)?(+\\s)?$" /></div>
                    <div class="fRow"><input name="aEOE_email" type="email" class="mf-input mf-required" placeholder="Email Address" required="required" autocomplete="off" /></div>
                    <div class="padd10"></div>
                    <div class="fRow text-align-center">
                        <div class="inline-block">
                            <button type="submit" class="button button-fill btn-blue round50"><div class="size-16 paddLeftRight40 paddTopBottom10">NEXT</div></button>
                        </div>
                    </div>
                    <div class="padd10"></div>
                    <div class="fRow text-align-center text-color-white-opacity35">
                        By clicking "NEXT" you agree<br />
                        to {{firstname}}'s <a href="https://www.laughsterapp.com/privacypolicy/{{firstnameUpper}}_{{lastnameUpper}}" class="text-color-blue link external" target="_system">Privacy Policy</a>.
                    </div>
                    <div class="padd10"></div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
  return {
    data() {
      return {
        classInitHidden: "hidden"
      }
    }, 
    on: {
      tabInit: function () {
        // do something on page init
        var self = this;
        loadWelcomeTabBasicComedian(self, appID);
        this.$$("form[data-action='handlewithform']").setCustomValidityFormTranslations();
    }
        
    }
  }
</script>